.newTweetContainer {
    position: relative;
    display: none;
    width: 98%;
}

.newTweetTextBox {
    width: 100%;
    border: none;
    background-color: #f4f1ec;
    border-bottom: solid;
    border-width: thick;
    font-weight: bold;
    margin-top: 5%;
    outline: none;
}

.newTweetButton {
    position: absolute;
    left: 0;
    background-color: darkcyan;
    border-style: none;
    color: white;
    font-family: 'Bungee';
    border-radius: 25px;
    padding: 15px;
}

.newTweetCharacterCounter {
    position: absolute;
    right: 0;
    font-family: 'Bungee';
}

.newTweetsErrorMessageContainer {
    width: 100%;
    height: 75px;
    border-style: solid;
    border-color: red;
    margin-top: 2em;
    text-align: center;
    display: none;
}

.newTweetsErrorMessage {
    position: relative;
    height: 100%;
    top: 20px;
    width: 100px;
    color: red;
}


/* Desktop styles */

@media only screen and (min-width: 1024px) {
    .newTweetsErrorMessage {
        position: relative;
        top: 20px;
        width: 40%;
        color: red;
        font-size: .90em;
    }
    .newTweetsErrorMessageContainer {
        width: 100%;
        height: 75px;
        border-style: solid;
        border-color: red;
        margin-top: 2em;
        text-align: center;
        display: none;
    }
}