.tweetTextBox {
    width: 100%;
    border: none;
    background-color: #f4f1ec;
    border-bottom: solid;
    border-width: thick;
    font-weight: bold;
}

.tweetTweetButton {
    position: absolute;
    left: 0;
    background-color: #4056A1;
    border-style: none;
    color: white;
    padding: .50em;
    font-family: 'Bungee';
}

.tweetTweetCounter {
    position: absolute;
    right: 0;
    padding: .50em;
    font-family: 'Bungee';
}