.newTweetContainer {
    position: relative;
}

.newTweetTextBox {
    width: 100%;
    border: none;
    background-color: #f4f1ec;
    border-bottom: solid;
    border-width: thick;
    font-weight: bold;
}

.newTweetButton {
    position: absolute;
    left: 0;
    background-color: #4056A1;
    border-style: none;
    color: white;
    font-family: 'Bungee';
}

.newTweetCharacterCounter {
    position: absolute;
    right: 0;
    font-family: 'Bungee';
}