.tweetsContainer {
    position: relative;
    height: 500px;
    width: 100%;
    margin-top: 75px;
}

.tweetsArticle {
    position: relative;
    border-style: solid;
    border-color: black;
    width: 100%;
    height: 250px;
    margin-bottom: 50px;
}


/*Tweet article header styles*/

.tweetsHeader {
    position: relative;
    height: 75px;
    width: 100%;
}

.tweetsHeaderUser {
    position: absolute;
    left: 35px;
    top: 20px;
}

.tweetsHeaderPicture {
    width: 2em;
    height: 2em;
}

.tweetsHeaderUserName {
    position: relative;
    left: 5px;
    bottom: 5px;
    font-weight: normal;
}

.tweetHeaderHandle {
    position: absolute;
    right: 5%;
    top: 40px;
    font-weight: lighter;
    display: none;
}


/*Tweet article body styles*/

.tweetsBody {
    position: absolute;
    bottom: 20%;
    height: 30%;
    border-bottom: solid;
    width: 90%;
    left: 5%;
    right: 5%;
    font-weight: normal;
    text-align: left;
    word-break: break-all
}

.tweetsBodyText {
    position: relative;
    width: 100%;
    background: transparent;
    border-style: none;
    height: 80%;
    overflow-wrap: break-word;
    outline: none;
}


/*Tweet article footer styles*/

.tweetsFooter {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0;
}

.tweetsFooterDaysPast {
    position: absolute;
    font-size: 1rem;
    left: 5%;
}

.tweetsFooterButtonContainer {
    position: absolute;
    width: 100px;
    height: 25px;
    right: 5%;
    background-color: darkcyan;
    border-radius: 25px;
}

.tweetsFooterButton {
    position: relative;
    width: 15px;
    height: 15px;
    bottom: .5em;
    bottom: 4px;
}


/*Tweet article hover styles*/

.tweetsArticle:hover {
    box-shadow: 0 0 11px rgba(53, 53, 53, .7);
    font-weight: bolder;
}

.tweetsContainer :hover .tweetHeaderHandle {
    display: inline-block;
}

.tweetsContainer :hover .tweetsHeaderUserName {
    font-weight: bolder;
}

.tweetsContainer :hover .tweetsBodyText {
    font-weight: bolder;
}


/*Desktop styles*/

@media only screen and (min-width: 1024px) {
    .tweetsFooterButtonContainer {
        position: absolute;
        width: 100px;
        height: 25px;
        right: 5%;
        background-color: darkcyan;
        border-radius: 25px;
    }
    .tweetsFooterButton {
        position: relative;
        width: 15px;
        height: 15px;
        bottom: .5em;
        left: 20px;
        bottom: 4px;
    }
}